#container2 {
  background: linear-gradient(135deg, #000000, #110f44);
}

label {
  /* padding-bottom: 50px; */
  font-size: 15px;
}

.personalInfo {
  width: 80%;
}

.personalInfo input {
  height: 30px;
  width: 90%;
  border-radius: 5px;
}

form {
  padding-left: 200px;
}

.userLogin {
  display: flex;
  flex-wrap: wrap;
}

.doubleColumn {
  all: unset;
  width: 80%;
}

.doubleColumn .input-box {
  width: calc(100% / 2-20px);
}
